<form novalidate [formGroup]="productForm" (ngSubmit)="submitForm()" >
<div class="p-fluid p-ml-2 p-mr-2">

    <div class="p-field p-col-12">
        <ul>
                <li>A form kitöltésével és submitálásával egy új product jön létre,ami a táblázatban megjelenítésre kerül</li>
                <li>A táblázat egy sorára kattintva a product értékei átadásra kerülnek a form mezőinek, de csak updatelni lehet a kiválasztott product-ot.
                     A clear form-ra kattintva, majd kitöltve a mezőket új product hozható létre.
                </li>
                <li>A form custom validátort használ ( https://www.tektutorialshub.com/angular/custom-validator-in-template-driven-forms-in-angular/)</li>
        </ul>
    </div>
        
    <div class="p-field p-col-12">
        <label translate>inputoutput.name</label>
        <input pInputText class="form-control" formControlName="name">
    </div>

    <!-- legyen dropdown a categoriakbol -->
    

    <!-- csak number lehessen -->
    <div class="p-field p-col-12">
        <label translate>inputoutput.price</label>
        <input pInputText class="form-control" formControlName="price" type="number">
    </div>

    <div class="p-formgroup-inline">
        <div class="p-field">
            <button pButton type="button" class="p-mr-2" (click)="simpleClicked()" translate>button.openconfirm</button> 
        </div>
        <div class="p-field">
            <button  *ngIf="productForm.get('id').value == null" pButton type="submit" class="p-mr-2"  type="submit" translate>button.new_product</button>
            <button  *ngIf="productForm.get('id').value != null" pButton type="submit" class="p-mr-2"  type="submit" translate>button.update_product</button>
        </div>
        <div class="p-field">
            <button pButton class="p-button-outlined p-mr-1" (click)="clearForm()" translate>button.clear_form</button>
        </div>
    </div>
</div>
    
</form>