<div class="p-grid">
    
    <div class="p-col-10 p-ml-2" #booklistheader translate></div>

    <div class="p-col-10">
        <app-book-list-item *ngFor="let item of books; let i = index;" [book] = "item" [index] = "i"></app-book-list-item>
    </div>
    <div class="p-col-10">
        <button pButton class="p-button-outlined p-ml-2" [style.max-width.px]="180"  [routerLink]="['/book/details', ModesEnum.create]" translate>
            book-list.create_book
        </button>
    </div>

</div>

<div *ngIf="!books" class="spinner-border" role="status">
</div>

<div *ngIf="books && !books.length" >
     Es wurden noch keine Bücher eingetragen!
</div>
