<div class="p-grid">

  <div class="p-col-12">

    <span class="p-buttonset">
      <button pButton class="p-button-success p-mr-2" routerLink="/book/list" [style.min-width.px]="230" translate>
        menu.books
      </button>

      <button pButton class="p-button-success p-mr-2" routerLink="/store/home" [style.min-width.px]="230" translate>
        menu.product_store
      </button>

      <button pButton class="p-button-success p-mr-2" routerLink="/admin/home" [style.min-width.px]="230" translate>
        menu.product_admin
      </button>

      <button pButton class="p-button-success p-mr-2" routerLink="/inputoutput/home" [style.min-width.px]="230" translate>
        menu.input_output
      </button>

      <button pButton class="p-button-success p-mr-2" routerLink="/nyomonkovetes/main" [style.min-width.px]="230" translate>
        menu.nyomonkovetes
      </button>

      <button pButton class="p-button-success p-mr-2" routerLink="/gyakorlas/main" [style.min-width.px]="230" translate>
        menu.gyakorlas
      </button>

    </span>
  </div>

  <div class="p-col-12">
    <router-outlet></router-outlet>
  </div>

</div>